.project-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;

    margin-top: 15px;
}

.filter-button {
    border: 0;
    background: transparent;

    color: var(--link);

    font-family:
        "Courier New",
        Courier,
        monospace;

    font-size: 12px;

    padding: 4px 6px;

    cursor: pointer;
}

.filter-button:hover {
    background: var(--link);
    color: #111;
}

.filter-button.active {
    background: var(--link);
    color: #111;
}

.project-result-count {
    margin-top: 15px;

    color: var(--muted);

    font-size: 11px;
}